<!DOCTYPE html>
<html lang="en">
<head>
	<% include head %>
</head>

<body>
	<% include nav %>
	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">About Us</h1>
				</header>
				<h3>Core Team</h3>
				<hr/>
				<div class="row">
					<div class="col-md-8">
						<h4>Lee Hellen</h4>
						<p>Bio</p>
					</div>
					<div class="col-md-4"><img src="http://placehold.it/350x350"></div>
				</div>
				
				<div class="row top-margin">
					<div class="col-md-8">
						<h4>Joel Gregory</h4>
						<p>Bio</p>
					</div>
					<div class="col-md-4"><img src="http://placehold.it/350x350"></div>
				</div>
				
				<h3>Contributors</h3>
				<hr/>

			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				<div class="widget">
					<h4>Resources</h4>
					<ul class="list-unstyled list-spaces">
						<li><a href="">Some spatial resource</a><br><span class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.</span></li>
						<li><a href="">and another</a><br><span class="small text-muted">Suscipit veniam debitis sed ipsam quia magnam eveniet perferendis nisi.</span></li>
						<li><a href="">Enim, sequi dignissimos</a><br><span class="small text-muted">Reprehenderit illum quod unde quo vero ab inventore alias veritatis.</span></li>
						<li><a href="">Suscipit, consequatur, aut</a><br><span class="small text-muted">Sed, mollitia earum debitis est itaque esse reiciendis amet cupiditate.</span></li>
						<li><a href="">Nam, illo, veritatis</a><br><span class="small text-muted">Delectus, sapiente illo provident quo aliquam nihil beatae dignissimos itaque.</span></li>
					</ul>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	

	<% include footer %>		

	<% include scripts %>

</body>
</html>