<!DOCTYPE html>
<html lang="en">
<head>
	<% include head %>
</head>

<body>
	<% include nav %>
	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Development</h1>
				</header>
				<p>We believe Osden will make a huge difference to both spatial professionals and their clients but 
					there are a lot of unknowns that we have to first find and then deal with. To help us overcome
					these uncertainties and build a purpose-fit platform we are utilising <a href="http://theleanstartup.com/">the Lean Startup</a>
					to guide our development.
				</p>
				<p><img src="assets/images/startup-feedback.png" alt="Build -> Measure -> Learn" class="img-rounded pull-right" width="300" ></p>
				<h3>Build</h3>
				<p>We start with an idea and then attempt to validate that idea as quickly as possible. If you prefer something
					more scientific: we come up with a hypothesis that we need to prove or disprove.</p>
				<p>Next, we design we design an experiment to validate it. This may be in the form of a survey, a manual task
				or a small software program.</p>
				<h3>Measure</h3>
				<p>Once the experiment is setup, we then contact professionals and clients to take part in it. The results of each
					experiment are recorded.</p>
				<h3>Learn</h3>
				<p>From the results, we validate or invalidate our idea and then work out ways to improve upon this idea or start 
					from scratch in another direction.</p>
				<h3>Another way of thinking about it...</h3>
				<p><img src="assets/images/hypothesis-experiment.jpg" alt="Hypothesis -> Design Experiments -> Test -> Insight" class="img-rounded" width="300" ></p>
				<p>We hope you agree that this is a great way to approach the development of Osden. If you are interested
					in taking part in the development of the product, please get in <a href="/contact">contact</a> with us.</p>

			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				<div class="widget">
					<h4>Resources</h4>
					<ul class="list-unstyled list-spaces">
						<li><a href="">Some spatial resource</a><br><span class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.</span></li>
						<li><a href="">and another</a><br><span class="small text-muted">Suscipit veniam debitis sed ipsam quia magnam eveniet perferendis nisi.</span></li>
						<li><a href="">Enim, sequi dignissimos</a><br><span class="small text-muted">Reprehenderit illum quod unde quo vero ab inventore alias veritatis.</span></li>
						<li><a href="">Suscipit, consequatur, aut</a><br><span class="small text-muted">Sed, mollitia earum debitis est itaque esse reiciendis amet cupiditate.</span></li>
						<li><a href="">Nam, illo, veritatis</a><br><span class="small text-muted">Delectus, sapiente illo provident quo aliquam nihil beatae dignissimos itaque.</span></li>
					</ul>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	

	<% include footer %>		

	<% include scripts %>

</body>
</html>