<!DOCTYPE html>
<html lang="en">
<head>
	<% include head %>
</head>

<body class="home">
	<% include nav %>

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">A NETWORK FOR REUSING SPATIAL DATA</h1>
				<p class="tagline">SURVEYORS, ENGINEERS, ARCHITECTS, RESEARCHERS & OTHERS</p>
				<p>
					<a class="btn btn-default btn-lg" href="/development" role="button">MORE INFO</a>
					<a class="btn btn-action btn-lg" href="/contact" role="button">Register Your Interest</a>
				</p>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Don't start from scratch&#59 reuse</h2>
		<p class="text-muted">
			Join the Osden network to discover high quality spatial data that has been collected by others.<br> 
			
		</p>
	</div>
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			
			<h3 class="text-center thin">A complete platform for sharing and reusing data</h3>
			
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cloud fa-5"></i>Organise</h4></div>
					<div class="h-body text-center">
						<p>Store your data in your own cloud based catalogue which you have full control over. Easily organise and search for your existing plans. Simply upload all your datasets or contact us to help in bulk upload situations. Or not (if you have already your own).</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-group fa-5"></i>Contribute</h4></div>
					<div class="h-body text-center">
						<p>Contribute datasets you collect to the platform. </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-search fa-5"></i>Discover</h4></div>
					<div class="h-body text-center">
						<p>Find the data you need from what other entities have contributed</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Reuse</h4></div>
					<div class="h-body text-center">
						<p>Save you &amp; your clients money by repurposing existing data</p>
					</div>
				</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		<h2 class="text-center top-space">Frequently Asked Questions</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3>Are we allowed to reuse datasets that our clients have paid for?</h3>
				<p>If you have the client&#39;;s permission, yes!</p>
			</div>
			<div class="col-sm-6">
				<h3>How do I know if the data that others have shared is of a high quality?</h3>
				<p>
				</p>
			</div>
		</div> <!-- /row -->

		<div class="row">
			<div class="col-sm-6">
				<h3>Can I control what datasets others can see?</h3>
				<p>
					You have complete control over what is available to everyone and what is available to a chosen few. You can make data automatically downloadable or have them contact you to obtain it.
				</p>
			</div>
			<div class="col-sm-6">
				<h3>Won&#39;t this lose me business?</h3>
				<p>Osden will make things more transparent but at the same time open up new opportunities for the future.</p>
			</div>
		</div> <!-- /row -->

		<div class="jumbotron top-space">
			<h4>We will be working with surveyors, engineers and other spatial professionals in order to create a platform that .....</h4>
     		<p class="text-right"><a href="/about" class="btn btn-primary btn-large">Learn more »</a></p>
  		</div>

</div>	<!-- /container -->

	<% include footer %>	
		
	<% include scripts %>
</body>
</html>